@import url(_data/_name/popup__error_data_name.css);
@import url(_data/_job/popup__error_data_job.css);
@import url(_data/_picture-name/popup__error_data_picture-name.css);
@import url(_data/_link/popup__error_data_link.css);
@import url(_invalid/popup__error_invalid.css);

.popup__error {
    font-size: 12px;
    color: #FF0000;
    padding-left: 6px;
    min-height: 13px;
}